.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading > p {
  transition: transform 0.4s ease;
}

.rotated {
  transform: rotate(-180deg);
}

.drop-title {
  align-items: start;
  background-color: white;
  padding: 20px;
  margin: 20px 20px 0 20px;
  border-radius: 10px 10px 0 0;
}